
.skiller-toolbar{
 
    display: flex;
    flex-direction: row;
     max-width: 1200px; /* Maximum width of the container */
    margin: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
    font-size: 16px;
    padding:15px;
    justify-content: space-between;
  }
  
  .filter-form-field{
  width: 200px;
  height: 10px;
  margin-top:-6%  !important;
  margin-bottom: -14% !important;
  align-items: center;
  padding: 0 !important;
  border: 0 !important;
  }

  
   
  .mat-mdc-text-field-wrapper{
    display: flex;
    flex-direction: row;
    height: 45px !important;
  }