/* General Toolbar Styling */
.skiller-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  height: 60px; /* Added a fixed height for uniformity */
}

/* Styling for Search Input Field */
.filter-form-field {
  width: 300px; /* Adjusted width */
  margin: 0; /* Reset margins */
  align-items: center;
  display: flex;
  flex-direction: row;
  border: 0 !important;
}

/* Adjustments for Text Field Wrapper */
.mat-mdc-text-field-wrapper {
  display: flex;
  flex-direction: row;
  height: 45px !important;
  flex-grow: 1; /* Allows the input to grow */
}

/* Menu Content Styling */
.mat-menu-content {
  padding: 15px;
  width: 300px; /* Adjusted width */
}

/* Menu Item Styling */
.mat-menu-item {
  height: inherit;
  width: inherit;
  background: lightgoldenrodyellow;
}

.mat-menu-item:hover {
  background: lightgoldenrodyellow;
}

/* Additional Styling for Popover Menu */
.popover-menu {
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px; /* Reduced gap */
}

/* Toggle Button Styling */
.sort-toggle {
  margin-left: 5px; /* Reduced margin */
}

/* Sort Button Styling */
.sort-button {
  padding: 5px 10px; /* Adjusted padding for buttons */
  margin-left: 10px;
}

/* Other Styling */
.ripple-container {
  cursor: default;
  text-align: center;
  height: 100px;
  line-height: 300px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  gap: 20px;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.sorting-form-container:hover {
  background-color: transparent !important;
  color: inherit !important;
}

.sorting-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  width: 100%;
}
