<div class="forgot-pass-page">
    <div class="forgot-pass-container">
        <div class="fprgot-pass-label">
         
            </div>
        <mat-card class="forgot-pass-card">
            <mat-toolbar class="forgot-pass-label" color="primary">
                <span>Forgot Password</span>
              </mat-toolbar>
    
            <mat-card-content>
                <form class="forgot-pass-form">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Email</mat-label>
                        <input matInput [(ngModel)]="email" name="email" type="email" required>
                     </mat-form-field>
    
                  
    
                    <button mat-raised-button color="primary" class="login-button" (click)="SendMail()">Send Mail</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    </div>
    