
.forgot-pass-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.forgot-pass-label{
    margin-bottom: 30px;
    padding: 0px;
 }
.forgot-pass-card {
    width: 100%;
    max-width: 400px;
    margin: 20px;
}

.forgot-pass-icon {
    background-image: url('/assets/skillhaven-logo.png'); /* Replace with your logo */
    background-size: cover;
}

.forgot-pass-form {
    display: flex;
    flex-direction: column;
}

.form-field {
    margin-bottom: 20px;
}

mat-form-field.mat-form-field {
    width: 100%;
}

.forgot-pass-button {
    margin-top: 10px;
}

/* Style for Material Icons */
mat-icon {
    color:white;
    margin: 0, im !important;
}
