<div class="forgot-pass-page">
    <div class="forgot-pass-container">
        <div class="fprgot-pass-label">
         
            </div>
        <mat-card class="forgot-pass-card">
            <mat-toolbar class="forgot-pass-label" color="primary">
                <button     mat-icon-button (click)="location.back()">
                    <mat-icon>arrow_back</mat-icon>
                    </button>
                <span>Forgot Password</span>
              </mat-toolbar>
    
            <mat-card-content>
                <form class="forgot-pass-form" #forgotPassForm="ngForm">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Email</mat-label>
                        <input matInput [(ngModel)]="email" name="email" type="email"  #emailInput="ngModel"    required>
                        @if(emailInput.errors?.['required']){
                            <mat-error>Required Fields</mat-error>
                  
                  }
                  
                  @if(emailInput.errors?.['email']){
                      <mat-error>Is not valid email</mat-error>
                  
                  } </mat-form-field>
    
                  
    
                    <button [disabled]="!forgotPassForm.valid" mat-raised-button color="primary" class="login-button" (click)="SendMail()">Send Mail</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    </div>
    