
  html {
    scroll-behavior: smooth;
}

.search-results {
  overflow: hidden;

}

  .home-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
 }

 mat-tab-group{
  border-radius: 10px;
 }
mat-tab{
  overflow-y: hidden;

}

@media screen and (max-width: 1200px) {
    .home-container {
        padding: 10px;
    }
}


.neu-element {
  background: #fcfbfb;
  border-radius: 10px;
  box-shadow: 8px 8px 15px #fcfbfb, -8px -8px 15px #ffffff;
}



.carousel{
  margin-bottom:3%;
}

a{
  color:white;
  font-family: 'Robota';
}