
  html {
    scroll-behavior: smooth;
}

.search-results {
  overflow: hidden;

}

  .home-container {
    max-width: 1200px; /* Maximum width of the container */
    margin: 0 auto; /* Centers the container */
    padding: 20px; /* Adds some spacing inside the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
    background-color: #ffffff; /* Background color */
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
 }

 mat-tab-group{
  border-radius: 10px;
 }
mat-tab{
  overflow-y: hidden;

}

@media screen and (max-width: 1200px) {
    .home-container {
        padding: 10px; /* Less padding on smaller screens */
    }
}


.neu-element {
  background: #fcfbfb;
  border-radius: 10px;
  box-shadow: 8px 8px 15px #fcfbfb, -8px -8px 15px #ffffff;
}



.carousel{
  margin-bottom:3%;
}

a{
  color:white;
  font-family: 'Robota';
}