@if(skillerList){
  <!-- <mat-paginator #paginator [length]="skillerList.totalCount"
  [pageSize]="pageSize"
  [pageIndex]="page-1"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page"
  [disabled]="false"
  (page)="pagination($event)"
  width="100">
</mat-paginator> -->


<div class="skiller-area">


@for( skiller of skillerList.data ; track skiller.email){
    <mat-card class="skiller-card">
        <mat-card-header>
          <mat-card-subtitle>{{role[skiller.role]}}

        </mat-card-subtitle>
          <mat-card-title>{{skiller.fullName}}
          
            <section>
              <ngx-stars [readonly]="true" [color]="'yellow'" [size]="1" [maxStars]="5" [initialStars]="skiller.rating"></ngx-stars>
            </section></mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="skiller-description">
            <p>{{skiller.description}}</p>
          </div>
          <div class="skiller-picture">
            <img  src="../../../assets/cover.png" [alt]="skiller.fullName"/>

          </div>  
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="primary" (click)="getDataDetail(skiller.userId)">Detail</button>
          <button mat-stroked-button color="accent">Start to Chat</button>
        </mat-card-actions>
        <mat-card-footer>


        </mat-card-footer>
      </mat-card>
}
</div>
}
 
@else {
  <p> Did not find any skiller </p>
}
