
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 10px;

}
.login-label{
    margin-bottom: 30px;

}
.login-card {
    width: 100%;
    max-width: 400px;
    margin: 10px;
}

.login-icon {
    background-image: url('/assets/skillhaven-logo.png');
    background-size: cover;
}

.login-form {
    display: flex;
    flex-direction: column;
}

/* .form-field {
    margin-bottom: 20px;
} */

mat-form-field.mat-form-field {
    width: 100%;
}

.login-button {
    margin-top: 10px;
}


mat-icon {
    color: rgba(0, 0, 0, 0.54);
}


.login-external{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-redirect-register{
    margin:20px 0;
    font-weight: 400;
}

.login-redirect-register mat-label a{
    cursor: pointer;
    font-size: 1.05rem;
    color:blue;
}

.forgot-password{
    cursor: pointer;
}

.captcha{
    margin: 0 0  10px 30px ;
}


