.blog-edit{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  margin: 2%;
}

.form-field {
    width: 100%; 
  }

  form{
    display: flex;
    flex-direction: column;
    padding: 5%;
  }

  
.photo-input{
  margin:15px 0;
  padding: 10px 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

.photo-input:hover{
  border: 1px solid #0275d8;
}

.photo-input mat-label{
  margin-right:10px
}

.save-button{
  margin-top: 20px;
}



.edit-blog-detail-header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.edit-blog-detail-header h2 {
  font-weight: 700;
  color: #1a1a1a;
text-align: center;
margin-top: 10px;  
}
.edit-blog-detail-header button{
  cursor: pointer !important;
  font-size: 1.8rem;

} 

.edit-blog-detail-header mat-icon:hover{
    box-shadow: 0 0 0px #000000;
   border-radius: 50px;
   cursor: pointer !important;

}