.blog-edit{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  margin: 2%;
}

.form-field {
    width: 100%; 
  }

  form{
    display: flex;
    flex-direction: column;
    padding: 5%;
  }

  
.photo-input{
  margin:15px 0;
  padding: 10px 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

.photo-input:hover{
  border: 1px solid #0275d8;
}

.photo-input mat-label{
  margin-right:10px
}