<div class="blog-edit">
<form [formGroup]="blogForm" (ngSubmit)="submitForm()">
  <h2> {{ crudType === 1 ? 'Add' : 'Update' }} Blog</h2>

    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>

      <div  appearance="outline" class="photo-input register-input">
        <mat-label>Blog Picture:</mat-label>
        <input type="file" #fileInput   (change)="onFileSelected($event)" hidden/>

        <button mat-raised-button type="button" (click)="fileInput.click()">Choose File</button>
      
        <!-- <div *ngIf="secondFormGroup.get('picture')?.value">
            <strong>Selected File:</strong>{{ (secondFormGroup.get('picture')?.value as File)?.name }}

        </div> -->
    </div>


      <angular-editor placeholder="Write blog content here.." formControlName="content" [config]="config"></angular-editor>

      <button mat-raised-button class="save-button"  color="primary" type="submit">Save</button>

</form>
</div>