.toolbar-spacer {
    flex: 1 1 auto;
  }

  /* Basic styles for the toolbar */
mat-toolbar {
   background-color: #3f51b5; /* Primary color */
  color: white;
}

/* Styles for the toolbar content */
mat-toolbar-row {
  display: flex;
  align-items: center;
}

/* Styles for the span wrapping the links */
mat-toolbar-row span {
  margin-right: 10px; /* Adjust as needed */
}

/* Basic styles for the links */
a[mat-menu-item] {
  color: white; /* Text color */
  text-decoration: none; /* Removes underline */
  padding: 10px; /* Adds some padding around the text */
  border-radius: 4px; /* Rounded corners for the hover effect */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

/* Hover effect */
a[mat-menu-item]:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Slight white overlay on hover */
}

/* Active link styles */
.active-link {
  background-color: rgba(255, 255, 255, 0.3); /* More pronounced white overlay for active link */
  border-radius: 4px; /* Ensure rounded corners for active link */
}



.info-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color:#f2f2f2	; /* Example background color */
  color: #333; /* Example text color */
  text-align: center;
   box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
  z-index: 99999;
}

.info-box p {
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  font-size: 16px; /* Sets the font size */
  font-weight: normal; /* Sets the font weight */
  color: #333; /* Sets the text color */
  text-align: center; /* Centers the text */
  line-height: 1.5; /* Adjusts the line height for better readability */
  color:#242424
}

