h2.mat-dialog-title {
    font-size: 1.5rem;
    color: #4a4a4a;
    margin-bottom: 20px;
}

.chat-container{
    display: flex;
    flex-direction: row;
    height:100%;
    justify-content: flex-start;
}

.mat-typography {
    font-family: 'Arial', sans-serif;
    color: #333;
}

/* Chat User List Styling */
.chat-user-list {
    margin-top:3%;
    overflow-y: auto;
    border-bottom: 1px solid #8b8b8b;
    padding-bottom: 10px;
    margin-bottom: 20px;
    flex:0 0 30%;
    height:100%;
    margin-right: 20px;
    overflow-y: auto;
}
.empty-message{
    text-align: center;
    margin: 20%;
    font-size: 0.9rem;

}
.user-card{
    background-color: #f9f9f9;
    margin-bottom: 2%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.user-card:hover{
    background-color: white;
    cursor: pointer;
}


.user-card-photo {
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height:50px;
    margin:5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-card-content{
    text-align: center;
    font-size: 1.1rem;
    margin:20px;
    display: flex;
    flex-direction: row;
}
.user-card-photo img {
    width: 100%;
    height: auto;
}

.status-icon {
    font-size: 10px; /* Adjust the size as needed */
    color: gray; /* Default color */
}
.online{
align-items: center;
    color:green;
}
.offline{
    color:red;
}



/* Chat Actions Styling */
mat-dialog-actions {
    justify-content: flex-end;
}

mat-dialog-actions button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

mat-dialog-actions button:hover {
    background-color: #d32f2f;
}

@media (max-width: 768px) {
    .chat-messages {
        max-height: 200px;
    }

    .chat-messages-content button {
        padding: 8px 15px;
        font-size: 0.9rem;
    }

    mat-dialog-actions button {
        padding: 8px 15px;
    }
}
.chat-message-send{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.chat-message-send .form-field{
    width: 70%;
}

.chat-message-send button{
    margin-top: 1%;
}

.chat-message-timestamp{
    font-size: 0.3rem;
    float: right;
    margin-top: 15px;

}


.chat-messages {
    width: 100%;
    padding: 15px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
  height: 100%;

}

.chat-messages-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;

}




.chat-messages-content-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.chat-messages-content-header-title {
    margin-left: 1%;
    font-weight: 400;
    font-size: 1.2rem;
    position: sticky;
}

.chat-messages-content-container{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

}

.chat-messages-sender, .chat-messages-receiver {
    padding: 10px;
    border-radius: 20px;
    overflow-wrap: break-word;
    margin: 5px 0;
}

.chat-messages-sender {
    background-color: rgb(53, 168, 53);
    color: white;
    align-self: flex-end;
}

.chat-messages-receiver {
    background-color: rgb(54, 54, 148);
    color: white;
    align-self: flex-start;
}

.chat-message-timestamp {
    display: block;
    font-size: 0.5rem;
    text-align: right;
}

.chat-message-send {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.chat-message-send button {
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    position: sticky;
}

.chat-message-send button:hover {
    background-color: #43a047;
}

mat-form-field {
    flex-grow: 1;
}
