<h2 mat-dialog-title>Chat</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography chat-container">
  <div class="chat-user-list">
    @for( user of chatUsers.data; track user.connectionId){
    <div class="chat-user" >


        <mat-card class="user-card" (click)="GetUserMesssage(user.userId)">
            <mat-card-content>{{user.fullName}} 
                <mat-icon class="status-icon" [class.online]="user.status ==='Online'"
                    [class.offline]="user.status === 'Offline'"
                >fiber_manual_record</mat-icon>
            </mat-card-content>
          </mat-card>
    </div>
    }
  </div>

<div class="chat-messages">
<div class="chat-messages-content">
@if(getMessageByUser){
    @for( message of getMessageByUser.data ; track message.messageId){

    <p>
     {{message.content}}
      
    </p>
  }
}
@else{
 <h4> Plase select any conversation</h4>
}
    <button>Send</button>
</div>
</div>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
