@if(blog){
<div class="blog-detail-page" [ngClass]="openCommentDrawer?'comment-background':''">
   <div class="blog-detail-header">
   
    <button     mat-icon-button (click)="location.back()">
 <mat-icon>arrow_back</mat-icon>
 </button>
    <h1>{{blog.title}}</h1>
</div>
<mat-divider></mat-divider>
    <div class="blog-detail-creater">
        <img [src]="blog.photoPath" [alt]="blog.fullName" />
        <p>{{blog.fullName}} · </p>
        <p>{{blog.publishDate | toDate}}</p>
    </div>
    <mat-divider></mat-divider>
    <div class="blog-detail-info">
       <div class="blog-detail-info-left">
        <div class="blog-detail-readed">
            <mat-icon  >visibility </mat-icon>
            <span style="align-items: center;">{{blog.nOfReading??0}}</span>

        </div>

        <div class="blog-detail-vote-info">
            <mat-icon (click)="vote(blog.blogId,false)">keyboard_arrow_left</mat-icon>
            <span style="align-items: center;">{{blog.vote??0}}</span>
            <mat-icon (click)="vote(blog.blogId,true)">keyboard_arrow_right </mat-icon>
        </div>

    </div> 

    <div class="blog-detail-info-right">

        <div class="blog-detail-comments" (click)="openCommentDrawer=!openCommentDrawer"   >
             <mat-icon>comment</mat-icon> 
            <span style="align-items: center;">{{blog.blogComments}}</span>

        </div>

        @if(blog.userId == (userService.getUser$ |async)?.userId){
        <div class="blog-detail-comments" (click)="updateBlog(blog.blogId)"> 
            <mat-icon>edit</mat-icon> 
            <span style="align-items: center;">Edit</span>
        </div>
    }


</div> 

    </div>
    <mat-divider class="divider"></mat-divider>

    <div class="blog-detail-content">

        <img [src]="blog.photoPath" [alt]="blog.photoPath" height="300" />

        <div [innerHTML]="blog.content" class="blog-detail-text-content">
        </div>
    </div>

</div>


@if(openCommentDrawer){
    <app-blog-detail-comment [blogId]="blog.blogId" [isDrawerOpen]="openCommentDrawer" (drawerOpenEvent)="drawerOpen($event)"></app-blog-detail-comment>
}
}