<div class="login-page">
    <div class="login-container">
        <div class="login-label">
         
            </div>
        <mat-card class="login-card">
            <mat-toolbar class="login-label" color="primary">
                <span>Reset Password</span>
              </mat-toolbar>
    
            <mat-card-content>
                <form  [formGroup]="userForm" (ngSubmit)="onSubmit()" class="login-form">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Password</mat-label>
                        <input matInput  formControlName="password" placeholder="New Password" type="password" required>
                        <button matSuffix mat-icon-button aria-label="Show" (click)="showPassword=!showPassword">
                            @if(showPassword){
                            <mat-icon matSuffix>visibility</mat-icon>
                        
                        }
                        @else{
                            <mat-icon matSuffix>visibility_off</mat-icon>
                        
                        }
                    </button>
                    @if (userForm.get('password')?.hasError('required')) {
                        <mat-error>Required Fields</mat-error>
                        }
              
                        @if (userForm.get('password')?.hasError('minlength') ||
                        userForm.get('password')?.hasError('maxlength')) {
                        <mat-error>The password between 5 and 25 </mat-error>
                        }
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput   formControlName="passwordConfirm" placeholder="New Password" type="password" required>
                        
                        <button matSuffix mat-icon-button aria-label="Show" (click)="showConfirmPassword=!showConfirmPassword">
                            @if(showConfirmPassword){
                            <mat-icon matSuffix>visibility</mat-icon>
                        
                        }
                        @else{
                            <mat-icon matSuffix>visibility_off</mat-icon>
                        
                        }

                        @if (userForm.get('passwordConfirm')?.hasError('required')) {
                            <mat-error>Required Fields</mat-error>
                            }
                  
                            @if (userForm.get('passwordConfirm')?.hasError('minlength') ||
                            userForm.get('passwordConfirm')?.hasError('maxlength')) {
                            <mat-error>The password between 5 and 25 </mat-error>
                            }
                    </button>
    
                    </mat-form-field>
    
                    <button [disabled]="!userForm.valid" mat-raised-button  type="submit" color="primary" class="login-button">Reset Password</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    </div>
    