html {
  scroll-behavior: smooth;
}

.blog-container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
 
  margin: 5%;
  margin-top: 1%!important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
  align-items: baseline;
  gap: 20px;
}

.blog-cards-container {
  max-width: 1200px;
 
  background-color: #ffffff;
 
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
 
  justify-content: space-between;
  padding: 25px;
  width: 65% !important;
 
  border-right: 1px solid rgb(221, 220, 220);
  ;
}

.most-used-blog-container {
  background-color: #ffffff;
 
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
 
  justify-content: space-between;
  padding: 5px;
  width: 20%;
  height: 100%;
  margin-right: 10px;
}

.blog-card {
  height: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
 
  margin-bottom: 2%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-radius: 2%;
  width: 100%;
}

.blog-card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
 
  transform: translateY(-5px);
  color: #f3f2f2
}


.blog-card img {
  width: 20%;
  height: 200px;
}

.blog-content {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 10px;
  cursor: pointer;
}

.blog-content-creater {
  margin-bottom: 3%;
}

.blog-content-creater * {
  margin-right: 2%;
  text-align: center;
  align-items: center;
  margin-bottom: -2%;
}

.blog-content-creater img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.blog-content h2 {
  margin: 0;
  font-weight: 400;
  font-family: 'Robota';
}

.blog-content span {
  margin-top: 2%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.5em;
 
  max-height: 4.5em;
 
}


.blog-content p {
  margin-top: 2%;
  font-size: 0.8rem;
  color: grey;
}

.most-used-blog-creater span {
  font-size: 10px;
  margin-bottom: -5% !important;
  display: inline-block;
}

.most-used-blog-creater img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.most-used-blog-title {
  margin-bottom: 0 !important;
}

.most-used-blog-item{
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.most-used-blog-item:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
 
  transform: translateY(-5px);
  color: #f3f2f2;
  cursor: pointer;
}

.blog-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 5%;
  margin-bottom: 0!important;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  height: 60px;
}

.sort-icon{
  margin-top: 15px;
  align-items: center;
  justify-content: center;
}

.filter-search{
  padding-top:30px; 
}
.filter-form-field {
  width: 250px;
  margin: 0;

  display: flex;
  align-items: center;
  padding: 0 !important;
  border: 0 !important;
  height: auto;
}

.popover-menu {
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.mat-mdc-text-field-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
}

mat-divider {
  margin-left: 2%;
  margin-right: 2%;
}






.blog-button-row {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  margin:1%;
  margin-left:5%;
  margin-bottom:0!important;
}

.blog-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}
 
.blog-footer-info{
  background-color: #f2f2f2;
  border-radius: 50px;
  color:#242424;
  padding:5px 15px;
  margin-left:5px;
 }

.blog-footer-info mat-icon{
  margin: 0 !important;
  padding:0!important;
  vertical-align: middle;
  color:#242424;
}
.divider{
  margin:5px 0;
}


.topic-button{
  border-radius: 10%!important;
}














@media screen and (max-width: 600px) {
 
  .blog-toolbar {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 10px;
  }

  .blog-toolbar > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .sort-icon, .filter-search {
      flex-basis: 48%;
  }

  .filter-form-field {
      width: 100%;
  }

  .blog-button-row {
      justify-content: center;
      flex-wrap: wrap;
  }

 
  .blog-cards-container, .most-used-blog-container {
      width: 100%;
      order: 1;
  }

  .most-used-blog-container {
      order: 2;
  }

 
  .blog-card {
      flex-direction: column;
      align-items: center;
  }

 
  .blog-card img, .blog-content-creater img {
      width: 100%;
      height: auto;
  }

 
  .most-used-blog-item {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}
