<div class="blog-toolbar">
  <div>
  <button mat-stroked-button color="primary" (click)="gotoAddBlog()" > <mat-icon>plus_one</mat-icon> Add Blog</button>
   
  <button mat-icon-button [matMenuTriggerFor]="sortMenu" matTooltip="Sort Elements">
    <mat-icon>sort</mat-icon>
  </button>
  
  <mat-menu #sortMenu="matMenu" >
    <div class="popover-menu"  (click)="$event.stopPropagation()">
      <!-- Select Dropdown -->
      <mat-select appearance="outline" placeholder="Select property" [(value)]="selectedSort">
        <mat-option *ngFor="let optionSort of sortingValues" [value]="optionSort.value">
          {{ optionSort.text }}
        </mat-option>
      </mat-select>
  
      <!-- Slide Toggle -->
      <mat-slide-toggle class="sort-toggle" color="primary" [(ngModel)]="orderBy">
        Order By {{ selectedSort }}
      </mat-slide-toggle>
    </div>
    <button class="sort-button " mat-raised-button color="primary" (click)="sort()">
        Sort
      </button>
  </mat-menu>

</div>
<div>
  <mat-form-field appearance="outline" class="filter-form-field">
    <mat-label>Search</mat-label>
    <input matInput type="text" [(ngModel)]="filterValue">
       <button matSuffix mat-icon-button aria-label="Search" (click)="filterByContent(filterValue)">
        <mat-icon>search</mat-icon>
      </button>
     <!-- <button mat-stroked-button color="primary" (click)="filterByContent(filterValue)" > <mat-icon>filter_alt</mat-icon> Filter</button> -->

  </mat-form-field>
</div>

</div>



<div
infiniteScroll [infiniteScrollDistance]="2"
[infiniteScrollThrottle]="500"
(scrolled)="onScroll()"
[scrollWindow]="true"
class="blog-container">

<div class="blog-cards-container">
@if(blogContent){
    @for( blog of blogContent.data;track blog.blogId){
<mat-card class="blog-card" (click)="getBlogDetail(blog.blogId)">
    <img mat-card-image [src]="blog.photoPath" [alt]="blog.title"  >
    <mat-card-content class="blog-content">
      <div class="blog-content-creater">
        <img mat-card-image [src]="blog.photoPath" [alt]="blog.title"  >
        <span>{{blog.fullName}}</span>
        <span> · </span>
        <span>{{blog.publishDate | toDate}}</span>
      </div>
      <h2> {{blog.title}}</h2>
      <mat-divider></mat-divider>
      <span [innerHTML]="blog.content">
      </span>
      <p>
        Readed: {{blog.nOfReading??0}} · Voted: {{blog.vote??0}}
      </p>

    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>Details</button>
    </mat-card-actions> -->
  </mat-card>
}

}

</div>



<div class="most-used-blog-container">
  
@if(blogContent){
  <h2> </h2>
  <div mat-subheader>Most Voted Blogs</div>

<mat-list>
  @for( blog of blogContent.data;track blog.blogId){

  <mat-list-item class="most-used-blog-item">
    <div >
      <div matListItemLine class="most-used-blog-creater" (click)="getBlogDetail(blog.blogId)">
        <img mat-card-image [src]="blog.photoPath" [alt]="blog.title"  >
        <span>{{blog.fullName}}</span>
      </div>


    <div matListItemTitle class="most-used-blog-title">{{blog.title}}</div>
     </div>
  </mat-list-item>
}

</mat-list>
}

</div>

</div>

