/* Import ngx-bar-rating themes */
@import '../../../../node_modules/ngx-bar-rating/themes/br-default-theme.scss';
@import '../../../../node_modules/ngx-bar-rating/themes/br-stars-theme.scss';
/* Detail Header */
.detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #f8f8f7; /* Light background */
}

.detail-header-title {
    font-size: 1.5em;
    color: #333;
    margin: 0;
}

.detail-header-button mat-icon {
    color: #333; /* Color for close icon */
}

/* Divider Style */
mat-divider {
    margin: 0 15px;
    background-color: #d1d1d1;
}

/* Detail Container */
.detail-container {
    display: flex;
    padding: 15px;
    
}
.detail-photo{
    margin-right: 5%;
}
/* Photo Section */
.detail-photo img {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 50%; /* Circular Image */
    object-fit: cover; /* Ensures image covers the area */
}

/* Info Section */
.detail-info {
    margin-left: 20px;
}

.detail-info-item {
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-family: 'Roboto';
}

mat-label {
    display: block;
    color: #666; /* Subdued text color */
    font-size: 0.9em;
}

/* Rating Section */
.rating, ngx-stars {
    margin-right: 5px;
}

/* Description Section */
.detail-description {
    padding: 15px;
    height: 40%;
}

.detail-description h4 {
    margin: 0;
    color: #333;
}

/* Dialog Actions */
mat-dialog-actions {
    padding: 15px;
    justify-content: flex-end; /* Align buttons to the right */
}

mat-dialog-actions button {
    background-color: #007bff; /* Brand color */
    color: white;
}
