


mat-stepper{
  overflow: hidden;

}

.right-button{
  float:right;
}
.login-redirect{
  float:left;
   font-weight: 400;
}
.login-redirect mat-label a{
  cursor: pointer;
  font-size: 1.05rem;
  color:blue;
}
.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .register-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.photo-input{
    margin:15px 0;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

.photo-input:hover{
    border: 1px solid #0275d8;
}

.photo-input mat-label{
    margin-right:10px
}

.register-container{
  margin:70px 200px;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  overflow: hidden;
  width: 70%;

}
.register-label{
  background-color: blue;
}

.confirmation-area{
  margin:20px;
}








@media screen and (max-width: 600px) {
 
  .mat-stepper-horizontal {
    flex-direction: column;
  }

  .mat-horizontal-stepper-header-container {
    display: none;
  }

  .mat-step-label {
    font-size: 0.9rem;
  }

  .mat-stepper-icon {
    font-size: 16px;
  }

 
  .mat-step-content {
    padding: 15px;
  }

 
  .register-container {
    margin: 20px;
    width: auto;
  }

  .register-form {
    padding: 10px;
  }

  .register-input, .right-button {
    width: 100%;
    margin-bottom: 15px;
  }

  .photo-input, .confirmation-area {
    padding: 10px;
  }

  .login-redirect mat-label a {
    font-size: 0.9rem;
  }

   :host   .mat-mdc-form-field-icon-suffix{
    display: flex!important;
    flex-direction: row !important;
  }

  mat-icon{
    font-size: 20px;
  }
}
