
@if(isDrawerOpen){
<mat-sidenav-container class="comment-container" [hasBackdrop]="false">
  <mat-sidenav #sidenav class="comment-sidenav" mode="push">
 
  </mat-sidenav>


  <!-- <button type="button" mat-button (click)="isDrawerOpen?drawer.open():drawer.close()">
        Toggle sidenav
      </button> -->
  <mat-sidenav-content>
    <div class="comment-sidenav-content">
      <div class="comment-sidenav-toolbar">
        <h2>Comments</h2>
      <button mat-dialog-title class="edit-header-button" (click)="closeSidenav()"  mat-icon-button >
        <mat-icon>close</mat-icon>
    </button>
  </div>
      @if (blogComments) {
      @for( blogComment of blogComments.data;track blogComment.blogCommentsId){
      <mat-card class="comment-card">
        <div class="card-content">
          <img mat-card-avatar [src]="blogComment.userPhoto" [alt]="blogComment.fullName">

          <div class="text-content">
            <h3 class="username">{{blogComment.fullName}}</h3>
            <div class="comment-text">{{blogComment.commentContent}} </div>
            <p class="comment-date">{{blogComment.publishDate | toDate}}</p>
          </div>
        </div>
      </mat-card>
      }

      }

    </div>

    <div class="add-comment-sidenav-content">
      <form #commentForm="ngForm">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Add Comment</mat-label>
          <input matInput type="text" name="comment" [(ngModel)]="addCommentValue" #addCommentModel="ngModel" minlength="5"
            maxlength="500" required>
          @if (addCommentValue) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="addCommentValue=''">
            <mat-icon>close</mat-icon>
          </button>
          }
          @if(addCommentModel.errors?.['required']){
          <mat-error>Required Fields</mat-error>
          }

          @if(addCommentModel.errors?.['minlength'] || addCommentModel.errors?.['maxlength']){
          <mat-error>The password between 5 and 50 </mat-error>
          }
        </mat-form-field>
        <button [disabled]="!commentForm.valid" type="button" mat-raised-button (click)="addComment(addCommentValue)">
          Send
        </button>
      </form>
    </div>
  </mat-sidenav-content>


</mat-sidenav-container>
}